@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
    font-family: "Montserrat";
    src: url("/public/fonts/Montserrat/Montserrat.otf");

    font-family: "Lora";
    src: url("/public/fonts/Lora/Lora.otf");

    font-family: "Roboto";
    src: url("/public/fonts/Roboto/Roboto.otf");

    font-family: "OpenSans";
    src: url("/public/fonts/OpenSans/OpenSans.otf");
}

/*
    our background colors
        
        sunflower: "#FFCA28", // Amber-400
        silver: "#EEEEEE", // grey-200
        ForestGreen: "#388E3C", // grenn-700
        Viridescent: "#50c878", // green-200
        Charcoal: "#424242", //gray-800
        Tranquil: "#80CBC4", // teal-200
  
    our text color, each suits a certain background to a certain degree.    
    
        DarkCharcoal: "#333333", // for Amber-400, Grey-200  and  Teal-200 (#80CBC4, #EEEEEE, #333333 )
        Ivory: "#FFFFF0", // For Emerald-500 ad the Green-700 (#388E3C, #50C878)
        LightGray: "#AAAAAA", // For Grey-800 (#424242)
    

    our fonts
                Montserrat: ["Montserrat", "sans-serif"], // for titles
                Lora: ["Lora", "serif"], // for sub titles
                Roboto: ["Roboto", "sans-serif"], // for text
                OpenSans: ["Open Sans", "sans-serif"], // for details
            },
*/

@keyframes fadeInRotate {
    from {
        opacity: 0.4; /* Set a higher starting opacity */
        transform: rotate(-90deg);
    }
    to {
        opacity: 1;
        transform: rotate(90deg);
    }
}

@keyframes rotateLetters {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(10deg);
    }
    50% {
        transform: rotate(-10deg);
    }
    75% {
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.hero-text {
    animation: fadeInRotate 1s ease-in-out, rotateLetters 1s ease-in-out;
    animation-delay: 0s, 0.5s;
    animation-fill-mode: both;
}
.rotate-vertical {
    transform-origin: center;
    transition: transform 0.8s ease-in-out;
}

.rotate-vertical:hover {
    transform: rotateY(360deg);
}

@media (max-width: 767px) {
    .overlay-section {
        position: absolute;
        top: 0;
        margin-top: 40%;
        width: 100%;
        z-index: 10;
    }
}

.share-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.share-buttons button {
    margin: 5px;
    border-radius: 50%;
    overflow: hidden;
}

.share-buttons button:hover {
    transform: scale(1.1);
}
.social-share-panel {
    position: sticky;
    top: 50%;
    transform: translateY(-50%);
    background-color: theme("colors.bgc.silver");
    padding: 5px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100;
    width: 38px;
    opacity: 0.7;
    transition: opacity 0.3s;
    overflow-wrap: initial;
}

.social-share-panel:hover {
    opacity: 1;
}

.share-buttons button {
    background-color: #ffffff;
    border: 2px solid #333333;
}

.share-buttons button:hover {
    background-color: #333333;
    border-color: #ffffff;
}
.share-buttons button {
    transition: transform 0.3s ease-in-out;
}

.slide-in {
    animation: slideInFromBottom 1s ease-in-out forwards;
    opacity: 0;
    transform: translateY(100%);
}

@keyframes slideInFromBottom {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

hero-All {
    margin: 0;
    box-sizing: border-box;
    color: white;
    position: relative;
    height: 100vh;
}

.hero-inAll {
    height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    transition: 0.5s;
}

.how-inAll {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    background-color: #eeeeee;
}

.bg-video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
    object-fit: cover;
}

.bg-overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    z-index: 0;
}

.home-text {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}

/* .grid {
    grid-template-columns: 1fr;
} */

.hero-h1 {
    font-family: theme("fontFamily.Montserrat");
    color: white;
    font-size: 2.5em;
    animation: fade 4s;
    margin-bottom: 10px;
    font-weight: 800;
    text-align: center;
}

.hero-p {
    font-family: theme("fontFamily.Lora");
    color: white;
    font-size: 1em;
    animation: fade 4s;
    margin-bottom: 10px;
    text-align: center;
    font-style: oblique;
}

.home-btn {
    font-family: theme("fontFamily.Roboto");
    width: 100%;
    max-width: 16em;
    height: 4em;
    border-radius: 2.5em;
    z-index: 1;
    animation: fade 4s;
    font-size: 1em;
    font-weight: 700;
    color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0.5em 0;
}
.nav-logo {
    font-family: theme("fontFamily.Roboto");
    font-size: 1em;
    animation: fade 4s;
    font-weight: 700;
}

@media (min-width: 375px) {
    .home-btn {
        font-size: 1.2em;
    }
}

@media (min-width: 640px) {
    .home-text {
        width: 70%;
    }

    .hero-h1 {
        font-size: 3em;
        margin-bottom: 15px;
    }

    .nav-logo {
        font-size: 1.3em;
        font-weight: 700;
    }

    .hero-p {
        font-size: 1.2em;
        margin-bottom: 30px;
    }

    .home-btn {
        width: 50%;
        max-width: none;
        font-size: 1.2em;
        margin: 0.5em;
        border-radius: 3rem;
    }
}

@keyframes fade {
    0% {
        opacity: 0;
        margin-left: 3em;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.top-to-btm {
    position: relative;
}

.icon-position {
    margin-top: 40px;
    position: fixed;
    align-items: center;

    z-index: 20;
}

.icon-style {
    height: 24px;
    width: 24px;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 50%;

    color: #fff;
    cursor: pointer;
    animation: movebtn 3s ease-in-out infinite;
    transition: all 0.5s ease-in-out;
}

.icon-style:hover {
    animation: none;
    background: #fff;
    color: rgb(21, 128, 61, 0.5);
    border: 2px solid rgb(21, 128, 61, 0.5);
}

.external-link {
    position: relative;
    display: inline-block;
}

.external-link a {
    display: flex;
    align-items: center;
}

.external-link a:hover::after {
    content: " (opens in a new window)";
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: theme("colors.bgc.Charcoal");
    color: #fff;
    padding: 0.25rem;
    border-radius: 0.25rem;
    font-size: 0.75rem;
    white-space: nowrap;
    font-size: 0.7rem;
}

@keyframes movebtn {
    0% {
        transform: translateY(0px);
    }
    25% {
        transform: translateY(20px);
    }
    50% {
        transform: translateY(0px);
    }
    75% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0px);
    }
}

@media (max-width: 375px) {
    .hero-h1 {
        font-size: 1.5em;
        margin-bottom: 5px;
    }
    .nav-logo {
        font-size: 1em;
    }
    .hero-p {
        font-size: 0.8em;
        margin-bottom: 5px;
    }
    .home-text {
        padding: 10px;
    }
    .home-btn {
        width: 60%;
        border-radius: 0.5;
    }
    .top-to-btm {
        display: none;
    }
    .icon-style {
        height: 20px;
        width: 20px;
    }
    .hero-h1 {
        font-size: 1.2em;
        margin-bottom: 5px;
    }
    .nav-logo {
        font-size: 0.8em;
    }
    .hero-p {
        font-size: 0.7em;
        margin-bottom: 5px;
    }
    .bg-video {
        display: none;
    }
    .bg-video-poster {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.form-input {
    font-size: 1rem;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    color: #333333;
    display: block;
    margin-bottom: 0.5rem;
}
@media screen and (max-width: 480px) {
    .home-text {
        width: 90%;
    }

    .hero-h1 {
        font-size: 1.5em;
        margin-bottom: 8px;
    }

    .nav-logo {
        font-size: 0.9em;
        font-weight: 700;
    }

    .hero-p {
        font-size: 0.9em;
        margin-bottom: 8px;
    }

    .home-btn {
        width: 90%;
        border-radius: 1.8em;
        font-size: small;
    }
    .hero-inAll {
        background: url("/images/background.png") no-repeat;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .bg-video {
        display: none;
    }
}

.how-inAll1 {
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    background-color: #eeeeee;
    text-align: center;
}
