@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.layout {
    /* background: #fda855; */
    background: #0e7490;
}

@keyframes fadeInRotate {
    from {
        opacity: 0.4; /* Set a higher starting opacity */
        transform: rotate(-90deg);
    }
    to {
        opacity: 1;
        transform: rotate(90deg);
    }
}

@keyframes rotateLetters {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(10deg);
    }
    50% {
        transform: rotate(-10deg);
    }
    75% {
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.hero-text {
    animation: fadeInRotate 1s ease-in-out, rotateLetters 1s ease-in-out;
    animation-delay: 0s, 0.5s;
    animation-fill-mode: both;
}
.rotate-vertical {
    transform-origin: center;
    transition: transform 0.8s ease-in-out;
}

.rotate-vertical:hover {
    transform: rotateY(360deg);
}

@media (max-width: 767px) {
    .overlay-section {
        position: absolute;
        top: 0;
        margin-top: 40%;
        width: 100%;
        z-index: 10;
    }
}

.social-share-panel {
    position: sticky;
    top: 26%;
    transform: translateY(-50%);
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100;
    width: 40px;
    opacity: 0.7;
    transition: opacity 0.3s;
}

.social-share-panel:hover {
    opacity: 1;
}

.share-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slide-in {
    animation: slideInFromBottom 1s ease-in-out forwards;
    opacity: 0;
    transform: translateY(100%);
}

@keyframes slideInFromBottom {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.hero-All {
    margin: 0;
    box-sizing: border-box;
    color: white;
}

.hero-inAll {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    transition: 0.5s;
}

.bg-video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
    object-fit: cover;
}

.bg-overlay {
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    z-index: 0;
}

.home-text {
    width: 70%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}

.hero-h1 {
    color: white;
    font-size: 4em;
    animation: fade 4s;
    margin-bottom: 10px;
}

.hero-p {
    color: white;
    justify-self: flex-end;
    font-size: 1em;
    margin-bottom: 50px;
}

.home-btn {
    width: 16em;
    height: 4em;
    border-radius: 3em;
    z-index: 1;
    font-size: 1em;
    font-weight: 700;
    color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 3em;
    margin-right: 3em;
}

//animation

@keyframes fade {
    0% {
        opacity: 0;
        margin-left: 3em;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
